<% include partial/header %>
<% include partial/navbar %>

<div class="main-container">
    <div id="portrait">
      <img id="image-style" src="/assets/portrait.jpg" class="img-fluid" class="responsive" alt="Responsive image">
    </div>
    
    <div id="intro">
      <h3 id="my-name">Hi, I am MD Naim Uddin.</h3>
      
      <button class="btn btn-default" id="learn-about-me">Learn about Me!</button>
      
    </div>
</div>
        
<% include partial/footer %>