<% include partial/header %>
<% include partial/navbar %>

<div class="main-container">
    <div id="portrait">
      <img id="image-style" src="/assets/portrait.jpg" class="img-fluid" class="responsive" alt="Responsive image">
</div>
        
<% include partial/footer %>