<% include partial/header %>
<% include partial/navbar %>

<div class="main-container">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-6 text-center">
          <div id="portrait">
            <img id="image-style" src="/assets/portrait.jpg" class="img-fluid responsive" alt="Responsive image">
          </div>
          <div id="intro">
            <h3 id="my-name">Hi, I am MD</h3>
            <button class="btn btn-default" id="learn-about-me">Download Resume</button>
          </div>
        </div>
      </div>
  </div>
</div>
        
<% include partial/footer %>