    <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #00609d;">
      <a class="navbar-brand" href="/">
        <h3>{ Front End Engineer }</h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fas fa-bars bar"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="about-me" href="/aboutme">About Me <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" id="skills" href="/skills">Skills</a>
          <a class="nav-item nav-link" id="projects" href="#">Projects</a>
          <a class="nav-item nav-link" id="contact-me" href="#">Contact Me</a>
          <a class="nav-item nav-link" id="download-resume" href="#">Social Networks</a>
        </div>
      </div>
    </nav>